<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Log message format -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>

<!--
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %X{correlationId} %highlight(%-5level) %cyan(%logger{36}) %msg%n
            </pattern>
        </encoder>
 -->
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT" />
    </appender>

    <!-- Appender to write to file -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./log/application.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./log/application-log-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>25MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

	    <!-- Chose either json or standard log format below for logfile -->

	    <!-- json format -->
        <!--<encoder class="net.logstash.logback.encoder.LogstashEncoder"/>-->

        <!-- non-json format below -->
        <encoder>
            <charset>UTF-8</charset>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %X{correlationId} %highlight(%-5level) %cyan(%logger{36}) %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- The logger name is typically the Java/Scala package name. This configures
        the log level to log at for a package and its children packages. Levels are:
        TRACE, DEBUG, INFO, WARN, ERROR. -->

    <logger name="com.demo" level="INFO" />

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
